<head>
    <!-- Enlace para importar Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <div class="educacion-container">
    <div class="profile-card">
      <div class="profile-image-container">
        <img class="profile-image" src="assets/usuario.png" alt="Foto de perfil">
        <button class="camera-icon">
          <span class="material-icons">camera_alt</span>
        </button>
      </div>
      
      <div class="profile-info">
        <h2>Dagoberto Fiscal</h2>
        <p class="specialty">Programación Orientada a Objetos</p>
        <p class="location"><em>Durango, Dgo</em></p>
        <button class="edit-icon">
          <span class="material-icons">edit</span>
        </button>
      </div>
  
      <div class="about-me">
        <!-- Educación Superior -->
        <div class="education-box">
          <img src="assets/logoITD.png" alt="Logo" class="about-me-logo">
          <div class="about-me-text">
            <h3>
              Educación Superior
              <button class="edit-button">
                <span class="material-icons">edit</span>
              </button>
            </h3>
            <p>
              <b>Ingeniería en sistemas</b> 
              <br>
              Clases de tiempo completo<br>
              Feb 2017 – May 2020. 3 yr 4 mos<br>
              Blvd. Felipe Pescador 1830, Nueva Vizcaya, MEX
            </p>
          </div>
        </div>
  
        <!-- Educación Media Superior -->
        <div class="education-box">
          <img src="assets/110.png" alt="Logo" class="education-logo">
          <div class="education-text">
            <h3>
              Educación Media Superior
              <button class="edit-button">
                <span class="material-icons">edit</span>
              </button>
            </h3>
            <p>
              <b>Especialidad Ofimática</b> 
              <br>
              Clases de tiempo completo<br>
              Ago 2014 – Feb 2017. 3 yr 4 mos<br>
              Av Mártires de Sonora 221, San Jorge, MEX
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  