<div class="carta">
    <div class="contenedorFondo">
        <img class="fondo" src="assets/Background_image.png" alt="fondo">
        <img class="usuario" src="assets/usuario.png" alt="usuario">
    </div>

    <div class="detalles">
        <div class="info">
            <p class="nombre">Dagoberto Fiscál</p>
            <p class="especialidad">Programación Orientada a Objetos</p>
            <p class="origen">Durango, Dgo</p>
        </div>
        <div class="botones">
            <button class="edit"><span class="material-symbols-outlined">edit</span></button>
        </div>
    </div>

    <div class="sobreMi">
            <button class="edit editA"><span class="material-symbols-outlined">edit</span></button>
        <p class="sobreMiTitulo">Sobre Mi</p>
        <p class="infoSobreMi">
            Soy profesor en la Universidad Tecnológica de Durango, especializado en Programación Orientada a Objetos.  
            Me apasiona la enseñanza y disfruto ayudar a mis estudiantes a desarrollar su lógica de programación y habilidades en desarrollo de software.  
            Cuento con experiencia en el ámbito académico y profesional, y siempre busco combinar la teoría con la práctica para preparar a mis alumnos para los desafíos del mundo tecnológico.
        </p>
    </div>
</div>