<div class="certificados-container"> 
    <div class="certificados-fondo" style="display: flex; flex-direction: column;">
      <!-- Información del Maestro en la esquina superior izquierda -->
      <div class="profesor-info" style="align-self: flex-start;">
        <h3>Certificados</h3>
        <div>
            <img class="usuario" src="/usuario.png" alt="usuario">
          </div>
        <div class="maestro-details">
          <h4>Dagoberto Fiscal</h4>
          <p>Materia: Programacion Orientada a obejetos</p>
        </div>
      </div>
  
      <div class="certificados-lista" style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin-top: 20px;">
        <div class="certificado-card">
          <img class="certificado-imagen" src="URL_DE_LA_IMAGEN" alt="Certificado">
          <div class="certificado-info">
            <h3>Certificado</h3>
            <p><strong>Institución:</strong> Cisco</p>
            <p><strong>Fecha:</strong> 20 de febrero de 2024</p>
            <p><strong>Lugar:</strong> Universidad Tecnológica de Durango</p>
          </div>
        </div>
  
        <div class="certificado-card">
          <img class="certificado-imagen" src="URL_DE_LA_IMAGEN" alt="Certificado">
          <div class="certificado-info">
            <h3>Certificado</h3>
            <p><strong>Institución:</strong> Microsoft</p>
            <p><strong>Fecha:</strong> 15 de marzo de 2024</p>
            <p><strong>Lugar:</strong> Universidad Autónoma de Guadalajara</p>
          </div>
        </div>
  
        <div class="certificado-card">
          <img class="certificado-imagen" src="URL_DE_LA_IMAGEN" alt="Certificado">
          <div class="certificado-info">
            <h3>Certificado</h3>
            <p><strong>Institución:</strong> Google</p>
            <p><strong>Fecha:</strong> 10 de abril de 2024</p>
            <p><strong>Lugar:</strong> Tecnológico de Monterrey</p>
          </div>
        </div>
      </div>
    </div>
  </div>